<div class="container">
    <h1 id="head">list of items</h1>
    <app-form></app-form>
</div>

    <table class="table table-hover">
        <thead>
            <th scope="col"> id</th>
            <th scope="col"> item name</th>
            <th scope="col">item unit</th>
            <th scope="col"> Per unit price</th>
            <th scope="col">total price</th>
            <th scope="col">delete/edit</th>
        </thead>
    <tbody *ngFor="let addItem of addition">
        <tr scope="row">
            <td>{{addItem.id}}</td>
            <td>{{addItem.itemName}}</td>
            <td>{{addItem.unit}}</td>
            <td>{{addItem.pricePerUnit}}</td>
            <td>{{addItem.total}}</td>
            <td >
                <div id="delEdit">
                    <button type="button" class="btn btn-danger" (click)="deleteItem(addItem)">delete</button>
                    <nav>
                       <a routerLink='["addItem/edit,addItem.id"]'>
                           <button type="button" style="margin-left: 4px;" class="btn btn-primary" > edit</button>
                       </a>
                    </nav>

                </div>
            </td>
        </tr>
    </tbody>
    </table>

    <p style="margin-left:500px; margin-top: 20px;"><b>Grand total:</b>{{data}}</p>


