


  #head{
    height: auto;
    width: 800px;
    text-align: center;
    margin: auto;
      margin-top: 100PX;
      margin-bottom: 50PX;
      background-color: rgb(58, 122, 4);
      border-radius: 25px ;
  }
  #formId{
    margin: auto;
    margin-bottom: 20PX;
  }
  .table, th, td {
    border: 1px solid black;
  }
  #delEdit{
    display: flex;
  }