<div class="container">
    <h1 id="head">list of items</h1>
    <form id="formId">
        <input #itemname type="text" size="10" placeholder="Enter item name">
        <input #itemUnit type="number" size="10" placeholder="Enter item unit">
        <input #itemPrice type="number" size="10" placeholder="Enter per unit price of item">
        <button type="button" (click)="insertItem(itemname.value,itemUnit.value,itemPrice.value)">Add Item</button>
       
    </form>
</div>

    <table class="table">
        <thead>
            <th scope="col"> item name</th>
            <th scope="col">item unit</th>
            <th scope="col"> Per unit price</th>
            <th scope="col">total price</th>
            <th scope="col">delete/edit</th>
        </thead>
    <tbody *ngFor="let addItem of addition">
        <tr scope="row">
            <td>{{addItem.itemName}}</td>
            <td>{{addItem.unit}}</td>
            <td>{{addItem.pricePerUnit}}</td>
            <td>{{addItem.total}}</td>
            <td id="delEdit">
                <button type="button" class="btn btn-danger" (click)="deleteItem(addItem)">delete</button>
                <nav>
                   <a routerLink="/edit">
                       <button type="button" class="btn btn-primary" > edit</button>
                   </a>
                </nav>
            </td>
        </tr>
    </tbody>
    </table>

    <p>Grand total:{{grandTotal}}</p>


